<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Carrito de compras</title>
  <link rel="stylesheet" href="/base.css">
</head>

<body>
<div th:insert="~{views/navbar.html :: navbar}" th:with="isAdmin=${isAdmin}, isLogged=${isLogged}, itemCount=${itemCount}"></div>

<h1>Carrito de Compras</h1>
<a class="button" href="/products">Continuar comprando</a>

<table class="fl-table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Acciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${products}">
    <td th:text="${p.getName()}"></td>
    <td th:text="${p.getPrice()}"></td>
    <td th:text="${'x' + items.getOrDefault(p.getId(), 'Error')}"></td>
    <td>
      <form action="/reduce-from-cart" method="post">
        <input type="hidden" name="id" th:value="${p.getId()}">
        <input type="hidden" name="cant" value="1">
        <button type="submit">-1</button>
      </form>
    </td>
    <td>
      <form action="/add-to-cart" method="post">
        <input type="hidden" name="id" th:value="${p.getId()}">
        <input type="hidden" name="cant" value="1">
        <button type="submit">+1</button>
      </form>
    </td>
    <td>
    <td>
      <form action="/remove-from-cart" method="post">
        <input type="hidden" name="id" th:value="${p.getId()}">
        <button type="submit">Eliminar</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div>
  <h4>Total:</h4><p th:text="${'$' + total}">$0.00</p>
  <td>
    <form action="/process-sale" method="post">
      <button type="submit">Procesar Compra</button>
    </form>
  </td>
</div>

</body>

</html>