<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:if="${product == null}">Nuevo Producto</title>
  <title th:else>Editar Producto</title>
  <link rel="stylesheet" href="/base.css">
</head>
<body>
<div th:insert="~{views/navbar.html :: navbar}" th:with="isAdmin=${isAdmin}, isLogged=${isLogged}, itemCount=${itemCount}"></div>

<form th:if="${product == null}" action="/product/new" method="post">
  Nombre: <input type="text" name="name" required/><br>
  Precio: <input type="number" name="price" min="0" step="any"required/><br/>
  <input type="submit" value="Crear"/>
</form>
<form th:if="${product != null}" action="/product/edit" method="post">
  <input type="hidden" name="id" th:value="${product.getId()}">
  Nombre: <input type="text" name="name" th:value="${product.getName()}" required/><br>
  Precio: <input type="number" name="price" min="0" step="any" th:value="${product.getPrice()}" required/><br/>
  <input type="submit" value="Editar"/>
</form>

</body>
</html>