@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins';

    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*:focus {
    outline: none;
}

.cart-image {
    width: 100px;
    object-fit: contain;
}

.selected {
    font-weight: 800;
}

.cartAlert {
    color: #fff;
    text-decoration: none;
}

.cartAlert:hover {
    color: #e2e2e2;
    text-decoration: none;
}

.title-module{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-datatable{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: #ffffff;
    border-radius: 5px;
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 10px;
}

.comment-container {
    margin: 10px 0;
    display: block;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 1rem;
}

.comment-username {
    font-size: 18px;
    color: grey;
}

/*Image Slider CSS*/

.slider-images {
    position: relative;
    overflow: hidden;
    padding: 20px 0 0 0;
}

.image-container {
    padding: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 7px;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.image-block {
    flex: 0 0 auto;
    width: calc(25% - 7px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    scroll-snap-align: start;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




